{% load static %}
<!-- Created by Alejandro Osorio -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>

<body>
  <div class="login">
    <h1>Login</h1>
    <form method="post">{% csrf_token %}
        <input type="text" name="username" placeholder="Usuario" required="required" />
        <input type="password" name="password" placeholder="Contraseña" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Entrar.</button>
        <a href="register">No tengo una cuenta?</a>
    </form>
    <div>
          {% for message in messages %}
                <h3>{{message}}</h3>
          {% endfor %}
    </div>

</div>

</body>
</html>


