{% extends 'examples/administration.html' %}
{% block content %}

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Detalle de la Categoria</h4>
                  <p class="card-category">Are you looking for more components? Please check our Premium Version of Material Dashboard.</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive table-upgrade">
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th class="text-center">Detalles</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>ID</td>
                          <td class="text-center">{{object.id}}</td>
                        </tr>
                        <tr>
                          <td>Categoria</td>
                          <td class="text-center"> {{object.nombre}}</td>
                        </tr>
                        <tr>
                          <td>Estado</td>
                          <td class="text-center">{{object.activado}}</td>
                        </tr>
                        <tr>
                          <td>Cantidad de elementos</td>
                          <td class="text-center"> ###</td>
                        </tr>
                        <tr>
                          <td>Elementos deshabilitados</td>
                          <td class="text-center"> 4</td>
                        </tr>
                        <tr>
                          <td>Elementos habilitados</td>
                          <td class="text-center"> 12</td>
                        </tr>
                        <tr>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center">
                            <a href="/productos/categoria" class="btn btn-round btn-fill btn-info">Regresar</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
{% endblock %}

