{% extends 'examples/administration.html' %}
{%  block content %}

      <div class="content">
        <div align="center">
          <a href="./createCategoria"><img src="static/images/add_to_queue-24px.svg" /></a>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Simple Table</h4>
                  <p class="card-category"> Here is a subtitle for this table</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          NOMBRE
                        </th>
                        <th>
                          ESTADO
                        </th>
                        <th>
                          OPERACIONES
                        </th>
                      </thead>
                      {% for obj in object_list %}
                      <tbody>
                        <tr>
                          <td>
                            {{obj.id}}
                          </td>
                          <td>
                            {{obj.nombre}}
                          </td>
                          <td>
                            {{obj.activado}}
                          </td>
                          <td class="text-primary">
                            <select onchange="window.location.href=this.value">
								<option value ="list" selected > * </option>
								<option value ="{{ obj.get_absolute_url }}"> detalles</option>
								<option value ="{{ obj.get_absolute_url }}/delete"> borrar</option>
								<option value = "{{ obj.get_absolute_url }}/update"> editar </option>
			    	     </select>
                          </td>
                        </tr>
                      </tbody>
                      {% endfor %}
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}     

