{% extends 'administration.html' %}
{% block content %}
	<div align="center">
		<a href="../productos/createProducto"><b>+</b></a>
		<a href="{{object.get_absolute_url}}"><b>buscar</b></a>
	</div>
	
	<table align="center">
		<tr>
		<th><strong>CODIGO</strong></th>
		<th><strong>Nombre</strong></th>
		<th><strong>Costo</strong></th>
		<th><strong>Operaciones</strong></th>
		</tr>
		{% for obj in object_list %}
		<tr>
			<td>{{obj.codigo}}</td>
			<td>{{obj.nombre}}</td>
			<td>{{obj.costo}}</td>
			<td><select onchange="window.location.href=this.value">
				<option value ="list" selected > * </option>
				<option value ="{{ obj.get_absolute_url }}/delete"> borrar</option>
				<option value = "{{ obj.get_absolute_url }}/update"> editar </option>
			    </select>
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}