{% extends 'administration.html' %}
{% block content %}
<div align="center">
        <a href="/productos/categoria"><b>buscar</b></a>
</div>

<table align="center">
	<tr>
		<th><strong>ID</strong></th>
		<th><strong>Nombre</strong></th>
		<th><strong>Estado</strong></th>
		<th><strong>Operaciones</strong></th>
	</tr>
	<tr>
		<td>{{object.codigo}}</td>
		<td>{{object.nombre}}</td>
		<td>{{object.costo}}</td>
		<td><select>
				<option selected> * </option>
				<option><a href="borrar"> borrar</a> </option>
				<option><a href="editar"> editar</a> </option>
		    </select>
		</td>
	</tr>
</table>
{% endblock %}