{% extends 'administration.html' %}
{%  block content %}
	<div align="center">
		<a href="#"><b>+</b></a>
	</div>
	
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Simple Table</h4>
                  <p class="card-category"> Here is a subtitle for this table</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          EMPRESA
                        </th>
                        <th>
                          TELEFONO
                        </th>
                        <th>
                          DIRECCION
                        </th>
                        <th>
                          CONTACTO
                        </th>
                        <th>
                          OPERACIONES
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            {{obj.name}}
                          </td>
                          <td>
                            {{obj.phone}}
                          </td>
                          <td>
                            {{obj.adress}}
                          </td>
                          <td>
                            {{obj.contact.name}}
                          </td>
                          <td class="text-primary">
                            <select onchange="window.location.href=this.value">
								<option value ="list" selected > * </option>
								<option value ="{{ obj.get_absolute_url }}"> detalles</option>
								<option value ="{{ obj.get_absolute_url }}"> borrar</option>
								<option value = "{{ obj.get_absolute_url }}"> editar </option>
			    	     </select>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}     

