{% extends 'administration.html' %}
{% block content %}

	<div align="center"><a href="../añadirC"><b>+</b></a></div>
	<table align="center">
		<tr>
		<th><strong>NIT</strong></th>
		<th><strong>Nombre</strong></th>
		<th><strong>Telefono</strong></th>
		<th><strong>Direccion </strong></th>
		<th><strong>Operaciones</strong></th>
		</tr>
		{% for obj in objectList %}
		<tr>
			<td>{{obj.NIT}}</td>
			<td>{{obj.name}}</td>
			<td>{{obj.phone}}</td>
			<td>{{obj.adress}}</td>
			<td><select>
				<option selected> * </option>
				<option><a href="borrar"> borrar</a> </option>
				<option><a href="editar"> editar</a> </option>
			    </select>
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}

