{% extends 'administration.html' %}
{% block content %}
	<h1 align="center"><b> DETALLES DE GENERALES </b></h1>

	<table align="center">
		<tr colspan = "2">
                        <th><strong> DETALLES EMPRESA </strong></th>
                </tr><br/>

		<tr>
			<td><strong>EMPRESA </strong></td>
			<td>{{object.name}}</td>
		</tr><br/>
		<tr>
			<td><strong>DIRECCION: </strong></td>
			<td>{{object.adress}}</td>
		</tr><br/>
		<tr>
			<td><strong>TELEFONO: </strong></td>
			<td>{{object.phone}}</td>
		</tr><br/>
		<tr>
			<td><strong>NIT: </strong></td>
			<td>{{object.NIT}}</td>
		</tr><br/>
		<tr>
			<td><strong>FAX: </strong></td>
			<td>{{object.FAX}}</td>
		</tr><br/>
		<tr>
			<td><strong>ESTADO: </strong></td>
			<td>{{object.state}}</td>
		</tr><br/>
		<tr>
			<td><strong>FECHA DE REGISTRO: </strong></td>
			<td>{{object.date}}</td>
		</tr><br/>
		<tr colspan = "2">
                        <th><strong> DETALLES CONTACTOS </strong></th>
                </tr><br/>
		{% for obj in object_list.contact %}
		     {% if obj.state == "active" %}

			<tr>
				<td>{{obj.name}}</td>
				<td>{{obj.email}}</td>
				<td>{{obj.cellPhone}}</td>
				<td>{{obj.degree}}</td>
				<td><select onchange="window.location.href=this.value">
					<option value ="list" selected > * </option>
					<option value ="{{ obj.get_absolute_url }}../deleteC"> borrar</option>
					<option value = "{{ obj.get_absolute_url }}../updateC"> editar </option>
			    	     </select>
				</td>
			</tr>
		    {% endif %}
		{% endfor %}

		<tr>
			<td><strong>------- </strong></td>
			<td><a href="/listP"> regresar</a> </td>
		</tr><br/>
	</table>
{% endblock %}

