{% extends 'examples/administration.html' %}
{% block content %}

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Detalle del Cliente</h4>
                  <p class="card-category">Are you looking for more components? Please check our Premium Version of Material Dashboard.</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive table-upgrade">
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th class="text-center">DATOS</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Nombre</td>
                          <td class="text-center">{{object.name}}</td>
                        </tr>
                        <tr>
                          <td>Direccion</td>
                          <td class="text-center"> {{object.adress}}</td>
                        </tr>
                        <tr>
                          <td>Telefono</td>
                          <td class="text-center">{{object.phone}}</td>
                        </tr>
                        <tr>
                          <td>NIT</td>
                          <td class="text-center"> {{object.NIT}}</td>
                        </tr>
                        <tr>
                          <td>NRC</td>
                          <td class="text-center"> {{object.NRC}}</td>
                        </tr>
                        <tr>
                          <td>Genero</td>
                          <td class="text-center"> {{object.gender}}</td>
                        </tr>
                        <tr>
                          <td>Estado</td>
                          <td class="text-center"> {{object.state}}</td>
                        </tr>
                        <tr>
                          <td>Fecha Registro</td>
                          <td class="text-center"> {{object.date}}</td>
                        </tr>
                        <tr>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center">
                            <a href="/clientes/listClient" class="btn btn-round btn-fill btn-info">Regresar</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
{% endblock %}

